
    .navBarSection .header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background: transparent; */
        width: 100%;
        padding: 1rem;
        z-index: 1000;
    }
    
        .logo{
        color: var(--whiteColor); 
        font-weight: 500;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        }

        .loginLink{
            color: black;
        }
        .loginBtn{
            padding: .7rem;
            border-radius: 1rem;
            background-color: rgb(236, 229, 217);
            margin-right: .5rem;
            border: 0;

        }
        .signup{
           padding: .7rem;
           border-radius: 1rem;
           border: 0;
           background-color: rgb(194, 123, 16);
           color: white !important;
        }
        @media screen and (max-width:768px){
            .navBarSection .header{
                position: fixed;
            
            }
            .toggleNavbar{
                display: block;
            }
            .navbar{
                /* background: var(--greyBg); */
                background-color: #977474;
                position: absolute;
                height: max-content;
                padding: 1rem;
                width: 100%;
                /* overflow-x: hidden; */
                top: 0;
                left: -200%;
                box-shadow: 0 2px 4px rgba(209, 209,
                209,0.904);
                transition: 1s ease;
                z-index: 2;
        }
        .navLists {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
            margin: auto;
        }
        .navItem{
            padding: 1rem 0;
        }
        .navLink{
            color: var(--textColor);
            font-size: .9rem;
            font-weight: 600;
        }
        .navLink:hover{
            color: rgb(226, 221, 214);
        }
       
        .loginLink{
            color: black;
            font-weight: 500;
            font-size: .9rem;
        }
        .loginBtn{
            padding: .7rem;
            border-radius: 1rem;
            background-color: rgb(236, 229, 217);
            color: rgb(14, 14, 14);
            margin-bottom: 1rem;
        }
        .signup{
           padding: .7rem;
           /* color: rgb(9, 9, 9) !important; */
           border-radius: 1rem;
           background-color: rgb(194, 123, 16);
           color: white;
        }
        .closeNavbar{
            position: absolute;
            top: 1.2rem;
            right: 1.1rem;
            font-size: 25px;
            color:#10100f;
        }
        .activeNavbar{
            left:0;
        }
        .activeHeader{
            background-color: #9a7e64;
        }
       
    }
    .toggleNavbar{
        color: white;
        font-size: 25px;
        /* color: var(--PrimaryColor); */
        /* font-size: 25px; */

    }
    /* .toggleNavbar:hover{
      color: #945215;
    } */

    @media screen and (min-width:769px){
        .toggleNavbar, .closeNavbar{
            display: none;
        }
        .header{
            /* position: fixed; */
            padding: 1.5rem 2rem;
            
        } 
        .navLists{
            display: flex;
            align-items: center;
            justify-content: center;
            /* flex-direction: row; */
        }
        .navItem .navLink{
            padding: 0 .45rem;
            font-size: .9rem;
            font-weight: 400;
            color: white;
        }
       }