  .mainContainer{
    gap: 1rem;
  }
  .singlePost{
    gap: 2rem;
  }
  .imgDiv{
    height: 200px;
    width: 100%;
    border: 5px solid var(--greyBg);
    border-radius: 1rem;
    overflow: hidden ;
  }
.imgDiv :hover{
    transform: scale(1.1);
    transition: 3s ease;
}
img{
    /* height: 100%; */
    object-fit: cover;
  }

  .postDetails h3{
    color: var(--blackColor);
    font-weight: 600;
    padding-bottom: 10px;
  }
  .postDetails p{
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
  }

a:hover{
    color: var(--HoverColor);
}
a .icon{
 transform: translateX(10px);   
}
@media screen and (max-width:900px){
  .singlePost{
    margin: 10px 20px;
   }
   .imgDiv{
    height: 300px;
}
  }
  @media screen and (max-width:500px){
     .imgDiv{
      height: 200px;
  }
    }